= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :throttle_unauthenticated_enabled do
            = f.check_box :throttle_unauthenticated_enabled
            启用未认证的请求速率限制
          %span.help-block
            可以帮助降低请求量（比如来自爬虫或者恶意机器人）
    .form-group
      = f.label :throttle_unauthenticated_requests_per_period, '每个 IP 每段时间的最大请求数量', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :throttle_unauthenticated_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_unauthenticated_period_in_seconds, '时间区间（秒）', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :throttle_unauthenticated_period_in_seconds, class: 'form-control'
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :throttle_authenticated_api_enabled do
            = f.check_box :throttle_authenticated_api_enabled
            启用已认证的 API 请求速率限制
          %span.help-block
            可以帮助降低请求量（比如来自爬虫或者恶意机器人）
    .form-group
      = f.label :throttle_authenticated_api_requests_per_period, '每个用户每段时间内最大请求数量', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :throttle_authenticated_api_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_authenticated_api_period_in_seconds, '请求周期限制（秒）', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :throttle_authenticated_api_period_in_seconds, class: 'form-control'
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :throttle_authenticated_web_enabled do
            = f.check_box :throttle_authenticated_web_enabled
            启用已认证的 Web 请求速率限制
          %span.help-block
            可以帮助降低请求量（比如来自爬虫或者恶意机器人）
    .form-group
      = f.label :throttle_authenticated_web_requests_per_period, '每个用户每段时间内最大请求数量', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :throttle_authenticated_web_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_authenticated_web_period_in_seconds, '请求周期限制（秒）', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :throttle_authenticated_web_period_in_seconds, class: 'form-control'

  = f.submit '保存修改', class: "btn btn-success"
