= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :plantuml_enabled do
            = f.check_box :plantuml_enabled
            启用 PlantUML
    .form-group
      = f.label :plantuml_url, 'PlantUML 连接', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :plantuml_url, class: 'form-control', placeholder: 'http://gitlab.your-plantuml-instance.com:8080'
        .help-block
          允许使用外部 PlantUML 服务来渲染 Asciidoc 文档中的
          = link_to "PlantUML", "http://plantuml.com"
          图。

  = f.submit _('Save changes'), class: "btn btn-success"
